.navbar {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  background-color: #EBEDEA;
  width: 98%; /* Modifica el ancho aquí */
  padding: 20px; /* Añade relleno a los lados para mantener el espacio entre los elementos y los bordes */
}

.navbar-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-left ul li {
  display: inline;
  margin-right: 10px;
  color: black;
}

.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-right ul li {
  display: inline;
  margin-left: 10px;
  color: black;
}

.navbar-right ul li:first-child {
  margin-left: 0;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.navbar-center input[type="text"] {
  padding: 5px;
  width: 200px;
}