.shopping-card {
    background-color: white;
    border: 1px solid #bbbdbe;
    padding: 40px 140px;
    border-radius: 20px;
    margin: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.close-button {
    margin-left: 400px;
    background: transparent; 
    border: none; 
    color: #cecece; 
    cursor: pointer; 
    padding: 0; 
    font-size: 16px; 
   }
   
   .close-button:hover {
    color: black;
   }
   
   .close-button:focus {
    outline: none; 
   }

   .tu-cesta {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 90px;
    margin-left: 35px;
    margin-top: 50px
}

.tu-cesta-empty {
    font-size: 35px;
    font-weight: 400;
    margin: 50px 0px 90px 25px

}

.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.painting-image-container {
    flex: 1;
    margin-right: 15px;
}

.painting-image {
    width: 159px;
    height: 134px;
    object-fit: cover;
}

.painting-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 400px
}

.painting-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px
}

.painting-description {
    font-size: 14px;
    font-weight: 200;
    margin: 0px
    
}

.painting-price {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px
}

.painting-measures {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px
}

.painting-delete-button-and-price-container {
    display: flex;
}

.painting-delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 130px;
}

.total-price-container {
    width: 400px;
}

.total-price {
    margin-left: 20px;
}

.total-price {
    margin-left: 20px;
}

.total-price-details {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px
}

.line {
    height: 5px;
    border: none;
    background-color: #EBEDEA;
}

.empty-cart{
    width: 332px ;
    height: 323px;
    margin-left: 30px;
    margin-bottom: 50px
}

