* {
    font-family: 'Manrope', sans-serif;
}

.footer {
    display: flex;
    background-color:#292929;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 200px;
    padding: 15px;
    color: #EBEDEA;
}

.left-section {
    display: flex;
    margin-left: 15px;
}

.contact-footer {
    margin-bottom: 0;
    margin-left: 20px; /* Espacio entre los elementos Contacto y Horario */
}

.time-footer{
    margin-bottom: 0;
    margin-left: 80px;
}

.contact-info {
    margin-bottom: 0;
    margin-left: 20px; /* Espacio entre los elementos de Contacto y Horario */
}

.time-info {
    margin-bottom: 0;
    margin-left: 80px; /* Espacio entre los elementos de Contacto y Horario */
}

.contact-info a {
    text-decoration: none; /* Elimina la decoración del enlace */
    color: inherit; /* Usa el color heredado del elemento padre (en este caso, el color del texto) */
}

.contact-info a:hover {
    color: #45e37f; 
}

.right-section {
    display: flex;
    margin-right: 15px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    padding-right: 10%
}

.social-media > * {
    margin-left: 50px; /* Espacio entre los iconos de redes sociales */
    margin-right: 40px;
    width: 60px;
    height: 55px;
}

.social-media a {
    text-decoration: none; /* Elimina la decoración del enlace */
    color: inherit; /* Usa el color heredado del elemento padre (en este caso, el color del texto) */
    
}

.social-media a[href*="facebook"]:hover svg {
    color: #FFDF8C ; /* Cambia el color del icono de Facebook al pasar el mouse sobre el enlace */
}

.social-media a[href*="twitter"]:hover svg {
    color: #A3B7FF; /* Cambia el color del icono de Twitter al pasar el mouse sobre el enlace */
}

.social-media a[href*="instagram"]:hover svg {
    color: #FFB8B8; /* Cambia el color del icono de Instagram al pasar el mouse sobre el enlace */
}

.social-media a svg {
    width: auto; /* Ajusta el tamaño de los iconos de redes sociales al mismo tamaño que el icono de Facebook */
    height: auto;
}

.Derechos {
    font-size: small;
}