.shopping-card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    margin: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   .shopping-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
   }
   
   .shopping-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
   }
   
   .shopping-card p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
   }
   
   .shopping-card button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 10px auto;
    display: block;
    cursor: pointer;
   }
   
   .shopping-card button:hover {
    background-color: #c0d8ff;
   }