body {
  font-family: 'Manrope', sans-serif;
  color: #000000;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size:larger;

}

.header {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.section {
  border: 5px solid #DFE3DE;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  width: 200%;
  margin-top: 50px;
  margin-left: 200px;
}

.section-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.section-content {
  font-size: 14px;
  color: #666;
  display: flex;
  text-align: center;
  justify-content: flex-end; 
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    align-self:flex-start;
  }
  
.form-container {
  margin: 30px;
  border:none;
  border-radius: 40px;
  width: 1000px;
  background-color: #EBEDEA;
  margin: auto; 
  padding: 30px;
}
.table-container {
    margin-left: auto;
  }
.form-button {
  background-color: #000000;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 50%;
}
.form-content{
    margin-left: 65px;
    margin-top: 20px;
    
}
input  {
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    display:flex;
    align-items:end;
}

.ID_User_Usertype{
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.form-button:hover {
  background-color: #cccbcb;
  color: #000000;
  
}
.button-form{
    margin-left: 20px;
    width: 100%;
    min-width: 100%;

}
.logo-gallery {
  margin: 150px;
}

.header-usersPage {
  display: flex;
}

.header-h1 {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.form-field{
    align-items:center;
}
.title-register{
    align-items: center;
    margin-left: 25px;
    
}
.tables-page {
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-family: 'Manrope', sans-serif;
      color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center; 
      padding: 20px;
      font-size: larger;
    }
    
    .header {
      color: #333;
      text-align: center;
      margin-bottom: 10px; 
      font-size: 24px;
      margin-top: 20px;
      
    }
    

    
    .section-title {
      font-size: 18px;
      
    }
    
    .section, .form-container {
      border-radius: 25px;
      padding: 20px;
      width: 80%; 
      margin: 30px auto; 
    }
    
   
    .form-container {
      border: none;
      background-color: #EBEDEA;
      border:none;
      border-radius: 40px;
      background-color: #EBEDEA;
      width: 350px;
    }
    
    .section-content, .action-buttons {
      display: flex;
      justify-content: space-between;
    }
    
    .form-button {
      background-color: #000000;
      color: white;
      padding: 10px 5px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      width: 50%;
    }
    
    .form-button:hover {
      background-color: #cccbcb;
      color: #000000;
    }
    
    .input, .ID_User_Usertype {
      border-radius: 25px;
      padding: 5px;
      margin: 10px;
    }
    .tables-page{
     display: block;
     margin: 30px;

    }
      }
      
    
  